<div id="buttonAdd">
    <button *ngIf="!isSpawnAdd" (click)="spawnAdd(true)" >Create Task</button>
</div>
<div class="add" *ngIf="isSpawnAdd">
  <h2>Add Task</h2>
  <app-add-task id="app" ></app-add-task>
  <p></p>
  <div id="buttonAddDelete">
      <button *ngIf="isSpawnAdd" (click)="spawnAddDel(false)" >Hide form</button>
  </div>
</div>


<!-- [user]= "user" -->
<div>
  <ul >
    <h3>To Do</h3>
    <li *ngFor="let t of todo">
      
      <app-detail-task [task]="t" [tasks]= "tasks"></app-detail-task>
    </li>
  </ul>
  
  <ul >
    <h3>In Progress</h3>
    <li *ngFor="let t of progress">
      
      <app-detail-task [task]="t" [tasks]= "tasks"></app-detail-task>
    </li>
  </ul>
  
  <ul >
    <h3>Done</h3>
    <li *ngFor="let t of done">
      
      <app-detail-task [task]="t" [tasks]= "tasks"></app-detail-task>
    </li>
  </ul>
</div>

