H1{
    text-align: center
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    border: 2px solid rgb(0, 29, 126);
}

input{
    margin: 5px 0;
}

.sign{
    display: flex;
    justify-content: space-around;
}