
  <div class="sign">
      <button (click)="displayNewUser()">Sign Up</button>
      <button (click)="displaySignUp()">Sign In</button>
  </div>
<form (ngSubmit)="onSubmitLogin()" *ngIf="signUp" class="ml-5 d-flex flex-column align-items-center">
  <input type="text" [(ngModel)]="Pseudo" placeholder="Pseudo" id="Pseudo" name='Pseudo'/>
  <input type="password" [(ngModel)]="Pwd" placeholder="Pwd" id="Pwd"  name='Pwd'/>
  <button>Sign In</button>
</form>

<form (ngSubmit)="onSubmitSignUp()" *ngIf="newUser">
  <input type="text" placeholder="Pseudo" [(ngModel)]="pseudo" name="pseudo" id="pseudo"/>
  <input type="text" placeholder="Mail" [(ngModel)]="mail" name="mail" id="mail"/>
  <input type="password" placeholder="Password" [(ngModel)]="pwd" name="pwd" id="pwd"/>
  <button>Sign Up</button>
</form>