li{
    list-style: none;
}

div{
    border: 2px solid black;
    height: 100px;
}

h1{
    text-align: center
}

img{
    position: absolute;
    right: 2%;
    width: 5%;
    top : 3%;
}
