#Note {
    height:100px;
    width:90%;
}

#add{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin :0px ;
    padding :0px ;
    width:100%; background-color:rgb(255, 240, 204);
}

#add textarea{
    margin-top: 10px;
}

.btn{
    padding: 5px 50px 5px 50px;
    margin: 0px 0px 10px 0px;
}