.Encadrement {
    display:flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 5px;  
    text-align: center;
}


#Note {
    height:25px;
    width:95%;
}

h5{
    padding: 0;
    margin: 2px 2px 2px 2px;
}
/* .ligne {
    flex-direction: row;
} */
.btn{
    padding: 5px 50px 5px 50px;
    margin: 10px 10px 10px 10px;
}

.enfant{
    background-color: rgba(128, 128, 128, 0.507); 
}
/* .enfant form{
    display: none;
} */

/*form, div.Encadrement{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ligne{
    display: flex;
    flex-direction: row;
    align-items: center;
}

form input{
    width: 50%;
    margin: 2px 0;
}

form button{
    margin : 2px 0;
}

#DeadLine{
    width: 25%;
}*/

#id, #ID{
    display: none;
} 
