div{
    border: 1px solid black;
    margin: 10px 0;
}
form, div{
    display: flex;
    flex-direction: column;
    align-items: center;
}



form input{
    width: 50%;
    margin: 5px 0;
}

form button{
    margin : 5px 0;
}

#DeadLine{
    width: 25%;
}

#id, #ID{
    display: none;
}
