.Encadrement{
    border: 1px solid black;
    margin: 5px 0;
}
form, .Encadrement{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ligne{
    display: flex;
    flex-direction: row;
    align-items: center;
}



form input{
    width: 50%;
    margin: 2px 0;
}

form button{
    margin : 2px 0;
}

#DeadLine{
    width: 25%;
}

#id, #ID{
    display: none;
}
