<div class="Encadrement"> 
  <h5>Creation Date : {{task.CreateDate|date:"dd/MM/yy"}}</h5>
  <h5>{{task.Note}}</h5>  
  <h5>DeadLine : {{task.DeadLine|date:"dd/MM/yy"}}</h5>

  <form (ngSubmit)="onSubmitDelete()" >
    <input type="text" [(ngModel)]="task.ID" placeholder="ID" id="id" name='id'/>
    <button class="btn">Delete Task</button>
  </form>
  <button (click)="spawn(true)">Edit Task</button>
  <div class="Encadrement enfant">

    
    
    <form (ngSubmit)="onSubmitUpdate()" class="update" *ngIf="isSpawn">
      <input type="text" [(ngModel)]="task.Note" placeholder="Note" id="Note" name='Note'/>
      
      <h5>Status : 
        <select [(ngModel)]="task.TaskState" placeholder="Status" id="TaskState" name='TaskState'>
          <option value="todo">todo</option>
          <option value="progress">progress</option>
          <option value="done">done</option>
        </select>
      </h5>
      
      <div class="ligne">
        <h5 id="laCertif">DeadLine : 
          <p-calendar dateFormat="dd-mm-yy" [(ngModel)]="deadline" name="DeadLine" id="Deadline"></p-calendar>
        </h5>
        
      </div>
      
      <input type="text" [(ngModel)]="task.ID" placeholder="id" id="ID" name='ID'/>
      <button class="btn">Update</button>
    </form>
  </div>
</div>




